
@{
    ViewBag.Title = "Acercade - "+ViewBag.NombrePrincipal;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

</head> 
<body class="sections-page">
  


    <!-- Na  <!--     *********    END PRICING 5      *********      -->
         <!--     *********    TESTIMONIALS 1     *********      -->
        <div class="testimonials-1 section-image" style="background-image: url('../../Content/assets/img/bg27.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <h2 class="title">¿Que es @ViewBag.NombrePrincipal?</h2>
                        <h4 class="description ">Es una applicación web orientada  a las pequeñas, medianas y grandes empresas que se dedican a la comercialización  de ropa, un medio en la potencialización de sus productos, como tambien un sitio donde las personas podran encontrar  todo lo que estan buscando. </h4>
                    </div>
                </div>
                <div class="col-md-6 offset-md-3 text-center">
                    <h2 class="title">Creadores</h2>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="../../Content/assets/img/yeison.jpg" />
                                </a>
                            </div>

                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Yeison Claros</h4>
                                <p class="category">yei.claros@udla.edu.co</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="../../Content/assets/img/diego.jpg" />
                                </a>
                            </div>

                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Diego Marcillo</h4>
                                <p class="category">d.marcillo@udla.edu.co</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body> 


 </html>
