
@{
    ViewBag.Title = "CrearAdministrador";
    Layout = "~/Views/Shared/_index.cshtml";
}

 
<div class="row">
    <div class="col-md-5 offset-md-3">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="basic-form-layouts">
                <div class="row match-height">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="container">
                                        <div style="margin-left: 130px;">
                                            <h5> NUEVO ADMINISTRADOR</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">

                            <div class="card-body collapse in">
                                <div class="card-block">

                                    <form class="form">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput1">USUARIO</label>
                                                        <input type="text"/>
 
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput2">CONTRASEÑA</label>
                                                        <input type="password" />


                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>

                                        <div class="form-actions">
                                            <input type="submit" value="CREAR" title="Completar registro" class="btn btn-success btn-block" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </section>
        </div>
    </div>
</div>

