
@{
    ViewBag.Title = "Permisos";
    Layout = "~/Views/Shared/_index.cshtml";

}


<section id="basic-form-layouts">
    <div class="row match-height">
        <div class="container">
            <div class="container-fluid">
                <!--CREAR-->
                <div class="col-xl-4 col-lg-12">
                     
                        <div class="card-block">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="container">
                                            <div style="margin-left: 110px;">
                                                <h5>ROL</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class="dropdown-menu" style="display: block; position: static; width: 100%; margin-top: 0; float: none;">
                            <button class="dropdown-item" type="button">ROL1</button>
                            <button class="dropdown-item" type="button">ROL2</button>
                            <button class="dropdown-item" type="button">ROL3</button>
                        </div>
                    </div>
                 </div>
                <!--ELIMINAR-->
                 <div class="col-xl-8 col-lg-12">

                    <br /><div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="container">
                                    <div style="margin-left: 310px;">
                                        <h5>PERMISOS</h5>
                                    </div>               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

 

 
